<h1>Log In</h1>
<%= form_tag login_path do %>
    <label>
      Email
      <%= text_field_tag :email %>
    </label>

    <label>
      Password
      <%= password_field_tag :password %>
    </label>
    <label>
      User Account <%= radio_button_tag :user_type, 'user', :checked => true %> 
    </label>
    <label>
      Business Account <%= radio_button_tag :user_type, 'account' %>
    </label>
    <%= submit_tag "Sign In" %>
<% end %>
