<div id="dashboard">
<h1>Welcome, <%= @user.name %></h1>
<h3>Your balance: <%= CurrencyConverter.call(@user.balance.to_s, :satoshi) %> Bitcoin</h3>
<h3>Your Token (for developers): <%= @user.facebook_id %></h3>
<%= form_tag purchases_path do %>
<article>
  <label class="amount">
    <span>Add $10 of Bitcoin!</span>
  </label>
  <br>
</article>
<div id="login-button">
	<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
             data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
             data-description="Bitcoin rate"
             data-amount="1000">
    </script>
</div>
</div>
<br>
<div id="transaction-history">
	<h3>Transaction History</h3>
	<% if @transactions %>
		<% @transactions.each do |t| %>
			<p><%= t %></p>
		<% end %>
	<% else %>
		<p>You don't have any transactions yet</p>
	<% end %>
</div>

<% end %>
